<a href="https://colab.research.google.com/github/praneethkvarma/FML/blob/main/kfold_cv_on_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from numpy import mean
from numpy import absolute
from numpy import sqrt
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [3]:
data=pd.read_csv("/content/Company_data (1).csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
x=data.drop('Sales',axis=1).values
y=data['Sales'].values

In [5]:
data.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000

In [6]:
x_tv=x[:,0]
x_tv=x_tv.reshape(-1,1)
y=y.reshape(-1,1)

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x_tv,y,test_size=0.2,random_state=42)

In [8]:
reg=LinearRegression()

In [9]:
folds=KFold(n_splits=5,shuffle=True,random_state=100)
scores=cross_val_score(reg,x_train,y_train,scoring="neg_mean_squared_error",cv=folds)
sqrt(mean(absolute(scores)))

2.2565669707801552