<a href="https://colab.research.google.com/github/praneethkvarma/FML/blob/main/kfold_on_multi_regression_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from numpy import mean
from numpy import absolute
from numpy import sqrt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv("/content/50_Startups (1).csv")
data.corr()

<ipython-input-2-dc9a331fa642>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [9]:
x=data.drop('Profit',axis=1).values
y=data['Profit'].values
X=data.select_dtypes(include=np.number)

In [11]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
lm=LinearRegression()

In [17]:
folds=KFold(n_splits=5,shuffle=True,random_state=100)
scores=cross_val_score(lm,x_train,y_train,scoring='neg_mean_squared_error',cv=folds)
print(sqrt(mean(absolute(scores))))

2.1583978340191718e-11