<a href="https://colab.research.google.com/github/praneethkvarma/FML/blob/main/multiple_linear_regression_on_50_startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [15]:
data=pd.read_csv('/content/50_Startups (1).csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [17]:
x=data.drop('Profit',axis=1).values
y=data['Profit'].values
X=data.select_dtypes(include=np.number)

In [18]:
data.corr()

<ipython-input-18-c44ded798807>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [21]:
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [22]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
y_pred1=reg.predict(x_train)
print(f'mae={mean_absolute_error(y_train,y_pred1)}')
print(f'mse={mean_squared_error(y_train,y_pred1)}')
print(f'rmse={np.sqrt(mean_squared_error(y_train,y_pred1))}')
print(f'r2_score={r2_score(y_train,y_pred1)}')

mae=1.368789526168257e-11
mse=3.435281083932724e-22
rmse=1.8534511280130168e-11
r2_score=1.0

In [25]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
y_pred2=reg.predict(x_test)
print(f'mae={mean_absolute_error(y_test,y_pred2)}')
print(f'mse={mean_squared_error(y_test,y_pred2)}')
print(f'rmse={np.sqrt(mean_squared_error(y_test,y_pred2))}')
print(f'r2_score={r2_score(y_test,y_pred2)}')

mae=9.458744898438454e-12
mse=2.1705219273391444e-22
rmse=1.4732691292968654e-11
r2_score=1.0